body{
    width: 100vw;
    height: 300vh;
    display: grid;
    background-color: rgb(192, 204, 19);
    grid-template-rows: 2fr 18fr 6fr 5fr 15fr 9fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "inicio"
        "header"
        "caracte"
        "precio"
        "planes"
        "footer";
}
nav{
    background-color: cornflowerblue;
    grid-area: inicio;   
    display: inline-flexbox
}

.ingreso{
    float: right;

}

.barra{
    display: flex;
    justify-content: center;
}
.barra__item{
    display: inline-block;
    color: blue;
    padding-left: 15px;
    padding-right: 10px;
    } 
    
.logoverde{
    float: left;
    height: 10px;
    
 
}
header{
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.caract{
    grid-area: caracte;
    background-color: chartreuse;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "capacita analitica solucion";
}

.precios{
    grid-area: precio;
    background-color: slategray;
}

.planes{
    grid-area: planes;
    display: grid;
    background-color: palevioletred;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "plan1 plan2 plan3";
    ;
}
.plan1{
    grid-area: plan1;
}

.plan2{
    grid-area: plan2;
}
.plan3{
    grid-area: plan3;
}
footer{
    grid-area: footer;
    background-color: wheat;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "logo"
    "botones"
    "fin";
    justify-content: center;
}

